.swiper-slide {
  background-position: center;
  background-size: cover;
  padding: 0%;
  width: 680px;
  border-radius: 35px;
  opacity: 90%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.swiper-slide-active {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  opacity: 100%;
}

.swiper-button-prev {
  color: white;
}
.swiper-button-next {
  color: white;
}
